header h3 {
  letter-spacing: -2px;
}



.contenido img {
  width: 50%;
  margin: 10px 0;
  float: left;
}

.contenido {
  flex-flow: column wrap;
  align-items: center;
}

.descripcion {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  float: left;
}

.descripcion p {
  max-width: 80%;
  letter-spacing: 1px;
  line-height: 24px;
  word-spacing: 5px;
}

.boton {
  margin-top: 30px;
  color: white;
  background-color:gray;
  padding: 25px;
  max-width: 180px;
  text-align: center;
}